[alias]
	a   = !git add --all && git status -s
	b   = "!f(){ git checkout $1 2> /tmp/gitb; if [ $? -eq 0 ]; then cat /tmp/gitb; else git checkout -b $1; fi ;};f"
	c   = commit
	ca  = commit --amend --no-edit
	cae = commit --amend
	co  = !git branch -a --format '%(refname:short)' | fzf --ansi --preview \"git log --color=always --oneline {}\" | sed \"s|origin/||\" | xargs -r git checkout
	cob = checkout -b
	com = "!if [ `git rev-parse --verify main 2>/dev/null` ]; then git checkout main; else git checkout master; fi"
	d   = diff
	ds  = diff --cached
	f   = fetch
	fa  = fetch --all
	fu  = fetch upstream
	fx  = !git log --color=always --pretty=format:'%C(white)%h %C(cyan)%s' | fzf --ansi --preview \"git show --color=always {1}\" | awk '{print $1}' | xargs -r git commit --fixup
	l   = log
	ls  = alias
	p   = push
	pu  = pull
	pf  = push -f
	r   = !git log --color=always --pretty=format:'%C(white)%h %C(cyan)%s' | fzf --ansi --preview \"git show --color=always {1}\" | awk '{print $1}' | xargs -r git reset
	ra  = rebase --abort
	ri  = rebase -i HEAD~10
	rc  = rebase --continue
	rs  = rebase --skip
	rh  = reset --hard
	s   = status
	sp  = stash pop
	st  = stash
	sq  = rebase --interactive --autosquash main
	u   = pull
	up  = !git branch --set-upstream-to=origin/$(git branch --show-current) $(git branch --show-current)
[push]
	default = current
[pull]
	rebase = true
[user]
	email = github@amund.io
	name = Amund Tenstad
