[alias]
	a   = !git add --all && git status -s
	b   = "!f(){ git checkout $1 2> /tmp/gitb; if [ $? -eq 0 ]; then cat /tmp/gitb; else git checkout -b $1; fi ;};f"
	c   = !git status -s && read msg && git commit -m \"$msg\"
	ca  = commit --amend --no-edit
	cae = commit --amend
	co  = !git fetch && git branch -a --format '%(refname:short)' | fzf --ansi --preview \"git log --color=always --oneline {}\" | sed \"s|origin/||\" | xargs -r git checkout
	cob = checkout -b
	com = !git checkout main || git checkout master
	d   = diff
	f   = fetch
	l   = log
	ls  = !cat ~/.gitconfig | sed -n \"/\\[alias\\]/,/^\\[/p\" | sed '1d' | sed '$d'
	p   = push
	pu  = pull
	pf  = push -f
	r   = !git log --color=always --pretty=format:'%C(white)%h %C(cyan)%s' | fzf --ansi --preview \"git show --color=always {1}\" | awk '{print $1}' | xargs -r git reset
	rc  = rebase --continue
	rs  = rebase --skip
	rh  = reset --hard
	s   = status
	sp  = stash pop
	st  = stash
	u   = pull
	up  = !git branch --set-upstream-to=origin/$(git branch --show-current) $(git branch --show-current)
[push]
        default = current
[pull]
        rebase = true
[user]
	email = github@amund.io
	name = Amund Tenstad
